@model Note 

<div class="note-card">

    <div class="note-title">
        @Model.Title
    </div>

    <div class="note-content">
        @Model.Content
    </div>

    <div class="note-deadline">
        Deadline: @Model.Deadline.ToString("f")
    </div>

    <div class="row">

        <div class="d-flex justify-content-end align-content-baseline">
            
            @if (Model.IsCompleted) {
                <img src="~/Content/Images/checkbox_checked.png" 
                     style="margin:10px" alt="Mark as unfinished" data-noteverse-id="@Model.Id" class="completed"/>
            } else {
                <img src="~/Content/Images/checkbox_unchecked.png" 
                     style="cursor: pointer; margin:10px" alt="Mark as completed" data-noteverse-id="@Model.Id" class="mark-as-complete" />
            }

            <a href="/Notes/Edit/@Model.Id" style="margin:10px">
                <img src="~/Content/Images/options_icon.png" style="width:32px" />
            </a>

            <a href="/Notes/Delete/@Model.Id" style="margin:10px">
                <img src="~/Content/Images/recycle-bin.png" style="width:32px" />
            </a>
        </div>
        <div class="d-flex justify-content-end">

        </div>
    </div>
</div>


